{% extends "blog/base.html" %}
{% block content %}
<h1 align="center">Leaderboard</h1>
<table class="table table-dark">
<tr>
    <td></td>
    <td>Pseudo</td>
    <td>Elo</td>
    <td>Victory</td>
    <td>Draw</td>
    <td>Loose</td>
</tr>  
{% for user in users %}
    <tr>
        <td ALIGN="CENTER" ><img style="width:50px;height:50px;" align="a" class="rounded-circle account-img" src="{{ user.image.url }}"></td>
        <td>{{user.user}}</td>
        <td>{{user.elo}}</td>
        <td>{{user.victory}}</td>
        <td>{{user.draw}}</td>
        <td>{{user.loose}}</td>
        </br>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'createGame' %}">Create Duel</a>

{% endblock content %}
